 
$main-backround: #f8f8f8;
$hover-el:rgba(184, 255, 236, 1);
$lang-gray:rgba(169, 168, 168);
$border-swiper:#7E7E82;
$white:#FFFFFF;
$ea:#EAEAEA;
$black:#1B1C21;
$forms:#B5B6BC;
$rose:#FF3E79;
$color-h:rgba(126, 126, 130, 1);